<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <style type="text/css">
        .button-custom-pink{

            width: 70%;
        height: 6.934vh;
        background-color: #EE6BE1;
        color: white;
        border: none;
        border-radius: 24px;
        font-size: 0.9em;
        padding: 5px 20px;

        }
         .button-custom-pink:hover{

         background-color: #C8DB7C;
        color: white;
        text-decoration: none;
        }
        .cart-wrapper{
            min-height: 68vh;
        }
    </style>
    <div class="cart-wrapper">
    <div class="container">
        <h1 class="mt-5">Shopping Cart</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in cart %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>${{ product.price }}</td>
                    <td>
                        <a href="{{ url_for('remove_from_cart', product_id=product.id) }}" class="button-custom-pink">Remove</a>
                    </td>
                </tr>
                {% endfor %}
                </div>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-right">Total:</td>
                    <td>${{ total_price }}</td>
                </tr>
            </tfoot>
            </table>
    </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>

