<style type="text/css">
	.footer-background-custom{
		background-color: #B336FF;
		height: 12vh;
	}
	.list-inline-custom{
		text-decoration: none;
		color: white;
		padding: 20px;
		font-size: 1.2em;
	}
	.list-inline-custom:hover{
		text-decoration: none;
		color: #5EF0C4;
	}
	.text-footer-custom{
		color: white;
		font-size: 1.3em;
	}
</style>
<div class="footer-background-custom">
<footer class="footer mt-auto py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span class="text-footer-custom">Flask Shop © 2024</span>
			</div>
			<div class="col-md-6 text-md-right">
				<ul class="list-inline">
					<li class="list-inline-item"><a class="list-inline-custom" href="/">Home</a></li>
					<li class="list-inline-item"><a class="list-inline-custom" href="/cart">Cart</a></li>
					<li class="list-inline-item"><a class="list-inline-custom" href="/about">About us</a></li>
					<li class="list-inline-item"><a class="list-inline-custom" href="/checkout">Checkout</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</div>